[Unit]
Description=JupyterLab Daemon

[Service]
Type=simple
ExecStart=/bin/bash -c "/home/pablo/tesis/tsm-pipeline/code/env/bin/jupyter-lab --no-browser --notebook-dir=/home/pablo/tesis/tsm-pipeline/code"
WorkingDirectory=/home/pablo/tesis/tsm-pipeline
Environment="CODEQL_CLIS_ROOT=/home/pablo/clis"
Environment="TSM_TMP=/tmp"
User=pablo
Group=pablo
PIDFile=/run/jupyter-notebook.pid
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target